/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/


body{
  font-size: 25px;
}
/* -------Estilos para la Barra -----*/
.barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  min-height: 60px;
  background-color: #252525 ;
  text-decoration: none;
}

.barra a{
  text-decoration: none;
  color: white;
  font-size: helvetica;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
  margin-right: 150px;
}

/*------ Estilos para el body-------*/
.Control_deportivo{
  background-image: url("../imagenes/compu.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
  background-size: cover;
  display: flex;
}


.title{
  color: white;
  padding: 40px;
  margin-top: 100px;
  margin-left: 350px;
}

.main_btn{
  padding: 10px;
  background-color: #ff6319;
  width: 100%;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}
.main_btn:hover{
  background-color: #a64212;
}

/*-------Estilos Gestion poderosa ------*/

.cont{
  display: flex;
}

.imagenes{
  display: flex;
  margin: 5px;
  margin-top: 5%;
}
.img_col2{
  margin-left: 90px;
  margin-top: -30px;
}

.imagenes img{
  padding: 9px;
  width: 150px;
}

.title2{
  color: #ff6319;
}

.texto{
  margin-left: 20%;
  margin-right: 5%;
  margin-top: 9%;
}
