@media (max-width: 600px) {
  /*----------Control------*/
.Control_deportivo{

  width:600px;
  height:500px;

}

.title{
  margin-left:1px;
  font-size: 15px;
}
/*----------Gestion------*/

.contenido_text{
    font-size: 15px;
}
.imagenes img{
  width: 100px;
}
.texto{
  margin-top:15%;
  margin-left: 0px;
  width: 50%;
}
.imagenes{
  margin: 0px;
}
.img_col2{
  margin-left: :1px;
  margin-top: 1px;
  margin: 1px;
}
/*---------calculadora------*/

.cantidad{
  width: 50px;
}
.aceptar{
  width: 200px;
  margin-top: 50px;
}

.total{
  width: 150px;
  height: 50px;
}

.b_resultado{
  margin-left: 30px;
  width: 40px;
}
.cuota{
  margin-left: 15%;
}
/*--------ventajas------*/
.ventajas{
  background-image: url("../imagenes/pesas_movil.png");
  height: 1500px;
}

/*----------ellos usan-------*/

.ellos_usan{
  height: 100px;
  width: 550px;
}

.imagen_l img{
  margin-top: 0px;
  height: 50px;
}

.leyenda h1{
  font-size: 25px;
  margin-top: 3%;
}

/*---------beneficios--------*/

.beneficios{
  height: 100px;
  width: 500px;
  font-size: 15px;
}

.cont{
  margin-left: 25px;
  margin-top: 1%;
}

.beneficios img{
  height: 50px;
}

.beneficio h1{
  font-size: 25px;
  margin-top: -4%;
}


/*--------formulario-------*/
.formulario{
  margin-right:25%;
  margin-left: 15%;
}

/*--------footer---------*/
.redes_sociales{
  margin-left: 25%;
}

.correos{
  width: 100px;
}

.barra_final{
  font-size: 24px;
}
}
